/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&gresc {
};

&mt {
    retro-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <300>;
    bindings = <&kp>, <&kp>;
};

/ {
    behaviors {
        mouse_beh: mouse_beh {
            compatible = "zmk,behavior-mouse-key-press";
            label = "MOUSE_BEH";
            #binding-cells = <1>;
        };
    };

    combos {
        compatible = "zmk,combos";

        func_layer {
            bindings = <&sl 4>;
            key-positions = <37 16>;
        };

        mouse_layer {
            bindings = <&mo 3>;
            key-positions = <37 40>;
        };

        deletecustom {
            bindings = <&kp DELETE>;
            key-positions = <11 10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q  &kp W        &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LSHIFT  &kp A  &mt RCTRL S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL   &kp Z  &kp X        &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &gresc
                                &kp LALT  &mo 2  &kp SPACE    &kp RET  &mo 1  &kp LGUI
            >;

            label = "MAIN";
        };

        NUMSYM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6     &kp N7     &kp N8  &kp N9  &kp N0         &trans
&trans  &none   &none   &none   &none   &kp GRAVE    &kp LBKT   &kp RBKT   &none   &none   &none          &trans
&trans  &none   &none   &none   &none   &none        &kp MINUS  &kp EQUAL  &none   &none   &kp BACKSLASH  &trans
                        &trans  &none   &trans       &trans     &none      &trans
            >;

            label = "NUMSYM";
        };

        CONTROL {
            bindings = <
&trans  &none  &none  &none   &none   &none     &none   &none     &kp UP    &none      &none  &trans
&trans  &none  &none  &none   &none   &none     &none   &kp LEFT  &kp DOWN  &kp RIGHT  &none  &trans
&trans  &none  &none  &none   &none   &none     &none   &none     &none     &none      &none  &trans
                      &trans  &trans  &trans    &trans  &trans    &trans
            >;

            label = "CONTROL";
        };

        MOUSE {
            bindings = <
&trans  &none      &none      &none      &none   &msc SCRL_UP      &none   &none           &mmv MOVE_UP    &none            &none  &trans
&trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &none   &msc SCRL_DOWN    &none   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &trans
&trans  &none      &none      &none      &none   &none             &none   &none           &none           &none            &none  &trans
                              &trans     &trans  &trans            &trans  &trans          &trans
            >;

            label = "MOUSE";
        };

        SETTINGS {
            bindings = <
&kp F1  &kp F2           &kp F3  &kp F4      &kp F5  &kp F6             &kp F7          &kp F8      &kp F9       &kp F10         &kp F11  &kp F12
&trans  &kp PRINTSCREEN  &none   &kp DELETE  &none   &none              &bt BT_PRV      &bt BT_NXT  &bt BT_CLR   &bt BT_CLR_ALL  &none    &none
&trans  &none            &none   &none       &none   &kp PRINTSCREEN    &studio_unlock  &sys_reset  &bootloader  &none           &none    &none
                                 &trans      &none   &trans             &trans          &none       &trans
            >;

            label = "SETTINGS";
        };
    };
};
